src/test/resources/CDA/datatypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: $ -->
<!--
    This schema is generated from a Generic Schema Definition (GSD)
    by gsd2xsl. Do not edit this file.
  -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation> $Id: $ 
Generated by $Id: gsd2xsd.xsl,v 1.4 2005/04/17 03:20:15 lmckenzi Exp $</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="datatypes-base.xsd"/>
	<!--
      Instantiated templates
    -->
	<xsd:complexType name="PIVL_TS">
		<xsd:complexContent>
			<xsd:extension base="SXCM_TS">
				<xsd:sequence>
					<xsd:element name="phase" type="IVL_TS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
A prototype of the repeating interval specifying the duration of
each occurrence and anchors the periodic interval sequence at a
certain point in time.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="period" type="PQ" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
A time duration specifying as a reciprocal measure of the 
frequency at which the periodic interval repeats.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="frequency" type="RTO_INT_PQ" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
The inverse of period, but allows to specify a number of repeats in a
time unit using a ratio.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="alignment" type="CalendarCycle" use="optional">
					<xsd:annotation>
						<xsd:documentation>
Specifies if and how the repetitions are aligned to the cycles 
of the underlying calendar (e.g., to distinguish every 30 days
from "the 5th of every month".) A non-aligned periodic interval recurs
independently from the calendar. An aligned periodic interval is
synchronized with the calendar.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="institutionSpecified" type="bl" use="optional" default="false">
					<xsd:annotation>
						<xsd:documentation>
Indicates whether the exact timing is up to the party executing the
schedule (e.g., to distinguish "every 8 hours" from "3 times a day".)
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	
	<xsd:complexType name="RTO_INT_PQ">
		<xsd:annotation>
			<xsd:appinfo>
				<diff>RTO_INT_PQ</diff>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="QTY">
				<xsd:sequence>
					<xsd:element name="numerator" type="INT">
						<xsd:annotation>
							<xsd:documentation>
The quantity that is being divided in the ratio.  The default is the
integer number 1 (one.)
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="denominator" type="PQ">
						<xsd:annotation>
							<xsd:documentation>
The quantity that devides the numerator in the ratio.  The default is
the integer number 1 (one.)  The denominator must not be zero.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType> 
	<xsd:complexType name="EIVL_TS">
		<xsd:complexContent>
			<xsd:extension base="SXCM_TS">
				<xsd:sequence>
					<xsd:element name="event" type="CE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
A code for a common (periodical) activity of daily living based on
which the event related periodic interval is specified.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="offset" type="IVL_PQ" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
An interval of elapsed time (duration, not absolute point in time)
that marks the offsets for the beginning, width and end of
the event-related periodic interval measured from the time each such
event actually occurred.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IVL_PQ">
		<xsd:complexContent>
			<xsd:extension base="SXCM_PQ">
				<xsd:choice minOccurs="0">
					<xsd:sequence>
						<xsd:element name="low" type="IVXB_PQ">
							<xsd:annotation>
								<xsd:documentation>
The low limit of the interval.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice minOccurs="0">
							<xsd:element name="width" type="PQ" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
									<xsd:appinfo/>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="high" type="IVXB_PQ" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
The high limit of the interval.
</xsd:documentation>
									<xsd:appinfo/>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
					</xsd:sequence>
					<xsd:element name="high" type="IVXB_PQ">
						<xsd:annotation>
							<xsd:documentation/>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:sequence>
						<xsd:element name="width" type="PQ">
							<xsd:annotation>
								<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="high" type="IVXB_PQ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
The high limit of the interval.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element name="center" type="PQ">
							<xsd:annotation>
								<xsd:documentation>
The arithmetic mean of the interval (low plus high divided by 2). The
purpose of distinguishing the center as a semantic property is for
conversions of intervals from and to point values.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="width" type="PQ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SXCM_PQ">
		<xsd:complexContent>
			<xsd:extension base="PQ">
				<xsd:attribute name="operator" type="SetOperator" use="optional" default="I">
					<xsd:annotation>
						<xsd:documentation>
A code specifying whether the set component is included (union) or
excluded (set-difference) from the set, or other set operations with
the current set component and the set as constructed from the
representation stream up to the current point.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IVXB_PQ">
		<xsd:complexContent>
			<xsd:extension base="PQ">
				<xsd:attribute name="inclusive" type="bl" use="optional" default="true">
					<xsd:annotation>
						<xsd:documentation>
Specifies whether the limit is included in the interval
(interval is closed) or excluded from the interval (interval is open).
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PPD_TS">
		<xsd:annotation>
			<xsd:appinfo>
				<diff>PPD_PQ</diff>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TS">
				<xsd:sequence>
					<xsd:element name="standardDeviation" type="PQ" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
The primary measure of variance/uncertainty of the value (the square
root of the sum of the squares of the differences between all data
points and the mean). The standard deviation is used to normalize the
data for computing the distribution function. Applications that cannot
deal with probability distributions can still get an idea about the
confidence level by looking at the standard deviation.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="distributionType" type="ProbabilityDistributionType" use="optional">
					<xsd:annotation>
						<xsd:documentation>
A code specifying the type of probability distribution. Possible
values are as shown in the attached table. The NULL value (unknown)
for the type code indicates that the probability distribution type is
unknown. In that case, the standard deviation has the meaning of an
informal guess.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PPD_PQ">
		<xsd:annotation>
			<xsd:appinfo>
				<diff>PPD_PQ</diff>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PQ">
				<xsd:sequence>
					<xsd:element name="standardDeviation" type="PQ" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
The primary measure of variance/uncertainty of the value (the square
root of the sum of the squares of the differences between all data
points and the mean). The standard deviation is used to normalize the
data for computing the distribution function. Applications that cannot
deal with probability distributions can still get an idea about the
confidence level by looking at the standard deviation.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="distributionType" type="ProbabilityDistributionType" use="optional">
					<xsd:annotation>
						<xsd:documentation>
A code specifying the type of probability distribution. Possible
values are as shown in the attached table. The NULL value (unknown)
for the type code indicates that the probability distribution type is
unknown. In that case, the standard deviation has the meaning of an
informal guess.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PIVL_PPD_TS">
		<xsd:complexContent>
			<xsd:extension base="SXCM_PPD_TS">
				<xsd:sequence>
					<xsd:element name="phase" type="IVL_PPD_TS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
A prototype of the repeating interval specifying the duration of
each occurrence and anchors the periodic interval sequence at a
certain point in time.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="period" type="PPD_PQ" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
A time duration specifying as a reciprocal measure of the 
frequency at which the periodic interval repeats.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="frequency" type="RTO_INT_PPD_PQ" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
The inverse of period, but allows to specify a number of repeats in a
time unit using a ratio.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="alignment" type="CalendarCycle" use="optional">
					<xsd:annotation>
						<xsd:documentation>
Specifies if and how the repetitions are aligned to the cycles 
of the underlying calendar (e.g., to distinguish every 30 days
from "the 5th of every month".) A non-aligned periodic interval recurs
independently from the calendar. An aligned periodic interval is
synchronized with the calendar.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="institutionSpecified" type="bl" use="optional" default="false">
					<xsd:annotation>
						<xsd:documentation>
Indicates whether the exact timing is up to the party executing the
schedule (e.g., to distinguish "every 8 hours" from "3 times a day".)
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SXCM_PPD_TS">
		<xsd:complexContent>
			<xsd:extension base="PPD_TS">
				<xsd:attribute name="operator" type="SetOperator" use="optional" default="I">
					<xsd:annotation>
						<xsd:documentation>
A code specifying whether the set component is included (union) or
excluded (set-difference) from the set, or other set operations with
the current set component and the set as constructed from the
representation stream up to the current point.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IVL_PPD_TS">
		<xsd:complexContent>
			<xsd:extension base="SXCM_PPD_TS">
				<xsd:choice minOccurs="0">
					<xsd:sequence>
						<xsd:element name="low" type="IVXB_PPD_TS">
							<xsd:annotation>
								<xsd:documentation>
The low limit of the interval.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice minOccurs="0">
							<xsd:element name="width" type="PPD_PQ" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
									<xsd:appinfo/>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="high" type="IVXB_PPD_TS" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
The high limit of the interval.
</xsd:documentation>
									<xsd:appinfo/>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
					</xsd:sequence>
					<xsd:element name="high" type="IVXB_PPD_TS">
						<xsd:annotation>
							<xsd:documentation/>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:sequence>
						<xsd:element name="width" type="PPD_PQ">
							<xsd:annotation>
								<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="high" type="IVXB_PPD_TS" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
The high limit of the interval.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element name="center" type="PPD_TS">
							<xsd:annotation>
								<xsd:documentation>
The arithmetic mean of the interval (low plus high divided by 2). The
purpose of distinguishing the center as a semantic property is for
conversions of intervals from and to point values.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="width" type="PPD_PQ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IVXB_PPD_TS">
		<xsd:complexContent>
			<xsd:extension base="PPD_TS">
				<xsd:attribute name="inclusive" type="bl" use="optional" default="true">
					<xsd:annotation>
						<xsd:documentation>
Specifies whether the limit is included in the interval
(interval is closed) or excluded from the interval (interval is open).
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RTO_INT_PPD_PQ">
		<xsd:annotation>
			<xsd:appinfo>
				<diff>RTO_INT_PPD_PQ</diff>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="QTY">
				<xsd:sequence>
					<xsd:element name="numerator" type="INT">
						<xsd:annotation>
							<xsd:documentation>
The quantity that is being divided in the ratio.  The default is the
integer number 1 (one.)
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="denominator" type="PPD_PQ">
						<xsd:annotation>
							<xsd:documentation>
The quantity that devides the numerator in the ratio.  The default is
the integer number 1 (one.)  The denominator must not be zero.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EIVL_PPD_TS">
		<xsd:complexContent>
			<xsd:extension base="SXCM_PPD_TS">
				<xsd:sequence>
					<xsd:element name="event" type="CE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
A code for a common (periodical) activity of daily living based on
which the event related periodic interval is specified.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="offset" type="IVL_PPD_PQ" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
An interval of elapsed time (duration, not absolute point in time)
that marks the offsets for the beginning, width and end of
the event-related periodic interval measured from the time each such
event actually occurred.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IVL_PPD_PQ">
		<xsd:complexContent>
			<xsd:extension base="SXCM_PPD_PQ">
				<xsd:choice minOccurs="0">
					<xsd:sequence>
						<xsd:element name="low" type="IVXB_PPD_PQ">
							<xsd:annotation>
								<xsd:documentation>
The low limit of the interval.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice minOccurs="0">
							<xsd:element name="width" type="PPD_PQ" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
									<xsd:appinfo/>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="high" type="IVXB_PPD_PQ" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
The high limit of the interval.
</xsd:documentation>
									<xsd:appinfo/>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
					</xsd:sequence>
					<xsd:element name="high" type="IVXB_PPD_PQ">
						<xsd:annotation>
							<xsd:documentation/>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:sequence>
						<xsd:element name="width" type="PPD_PQ">
							<xsd:annotation>
								<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="high" type="IVXB_PPD_PQ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
The high limit of the interval.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element name="center" type="PPD_PQ">
							<xsd:annotation>
								<xsd:documentation>
The arithmetic mean of the interval (low plus high divided by 2). The
purpose of distinguishing the center as a semantic property is for
conversions of intervals from and to point values.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="width" type="PPD_PQ" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SXCM_PPD_PQ">
		<xsd:complexContent>
			<xsd:extension base="PPD_PQ">
				<xsd:attribute name="operator" type="SetOperator" use="optional" default="I">
					<xsd:annotation>
						<xsd:documentation>
A code specifying whether the set component is included (union) or
excluded (set-difference) from the set, or other set operations with
the current set component and the set as constructed from the
representation stream up to the current point.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IVXB_PPD_PQ">
		<xsd:complexContent>
			<xsd:extension base="PPD_PQ">
				<xsd:attribute name="inclusive" type="bl" use="optional" default="true">
					<xsd:annotation>
						<xsd:documentation>
Specifies whether the limit is included in the interval
(interval is closed) or excluded from the interval (interval is open).
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SXPR_TS">
		<xsd:complexContent>
			<xsd:extension base="SXCM_TS">
				<xsd:sequence>
					<xsd:element name="comp" type="SXCM_TS" minOccurs="2" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation/>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SXCM_CD">
		<xsd:complexContent>
			<xsd:extension base="CD">
				<xsd:attribute name="operator" type="SetOperator" use="optional" default="I">
					<xsd:annotation>
						<xsd:documentation>
A code specifying whether the set component is included (union) or
excluded (set-difference) from the set, or other set operations with
the current set component and the set as constructed from the
representation stream up to the current point.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SXCM_MO">
		<xsd:complexContent>
			<xsd:extension base="MO">
				<xsd:attribute name="operator" type="SetOperator" use="optional" default="I">
					<xsd:annotation>
						<xsd:documentation>
A code specifying whether the set component is included (union) or
excluded (set-difference) from the set, or other set operations with
the current set component and the set as constructed from the
representation stream up to the current point.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SXCM_INT">
		<xsd:complexContent>
			<xsd:extension base="INT">
				<xsd:attribute name="operator" type="SetOperator" use="optional" default="I">
					<xsd:annotation>
						<xsd:documentation>
A code specifying whether the set component is included (union) or
excluded (set-difference) from the set, or other set operations with
the current set component and the set as constructed from the
representation stream up to the current point.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SXCM_REAL">
		<xsd:complexContent>
			<xsd:extension base="REAL">
				<xsd:attribute name="operator" type="SetOperator" use="optional" default="I">
					<xsd:annotation>
						<xsd:documentation>
A code specifying whether the set component is included (union) or
excluded (set-difference) from the set, or other set operations with
the current set component and the set as constructed from the
representation stream up to the current point.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IVL_INT">
		<xsd:complexContent>
			<xsd:extension base="SXCM_INT">
				<xsd:choice minOccurs="0">
					<xsd:sequence>
						<xsd:element name="low" type="IVXB_INT">
							<xsd:annotation>
								<xsd:documentation>
The low limit of the interval.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice minOccurs="0">
							<xsd:element name="width" type="INT" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
									<xsd:appinfo/>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="high" type="IVXB_INT" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
The high limit of the interval.
</xsd:documentation>
									<xsd:appinfo/>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
					</xsd:sequence>
					<xsd:element name="high" type="IVXB_INT">
						<xsd:annotation>
							<xsd:documentation/>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:sequence>
						<xsd:element name="width" type="INT">
							<xsd:annotation>
								<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="high" type="IVXB_INT" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
The high limit of the interval.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element name="center" type="INT">
							<xsd:annotation>
								<xsd:documentation>
The arithmetic mean of the interval (low plus high divided by 2). The
purpose of distinguishing the center as a semantic property is for
conversions of intervals from and to point values.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="width" type="INT" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IVXB_INT">
		<xsd:complexContent>
			<xsd:extension base="INT">
				<xsd:attribute name="inclusive" type="bl" use="optional" default="true">
					<xsd:annotation>
						<xsd:documentation>
Specifies whether the limit is included in the interval
(interval is closed) or excluded from the interval (interval is open).
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IVL_REAL">
		<xsd:complexContent>
			<xsd:extension base="SXCM_REAL">
				<xsd:choice minOccurs="0">
					<xsd:sequence>
						<xsd:element name="low" type="IVXB_REAL">
							<xsd:annotation>
								<xsd:documentation>
The low limit of the interval.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice minOccurs="0">
							<xsd:element name="width" type="REAL" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
									<xsd:appinfo/>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="high" type="IVXB_REAL" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
The high limit of the interval.
</xsd:documentation>
									<xsd:appinfo/>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
					</xsd:sequence>
					<xsd:element name="high" type="IVXB_REAL">
						<xsd:annotation>
							<xsd:documentation/>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:sequence>
						<xsd:element name="width" type="REAL">
							<xsd:annotation>
								<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="high" type="IVXB_REAL" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
The high limit of the interval.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element name="center" type="REAL">
							<xsd:annotation>
								<xsd:documentation>
The arithmetic mean of the interval (low plus high divided by 2). The
purpose of distinguishing the center as a semantic property is for
conversions of intervals from and to point values.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="width" type="REAL" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IVXB_REAL">
		<xsd:complexContent>
			<xsd:extension base="REAL">
				<xsd:attribute name="inclusive" type="bl" use="optional" default="true">
					<xsd:annotation>
						<xsd:documentation>
Specifies whether the limit is included in the interval
(interval is closed) or excluded from the interval (interval is open).
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IVL_MO">
		<xsd:complexContent>
			<xsd:extension base="SXCM_MO">
				<xsd:choice minOccurs="0">
					<xsd:sequence>
						<xsd:element name="low" type="IVXB_MO">
							<xsd:annotation>
								<xsd:documentation>
The low limit of the interval.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice minOccurs="0">
							<xsd:element name="width" type="MO" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
									<xsd:appinfo/>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="high" type="IVXB_MO" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
The high limit of the interval.
</xsd:documentation>
									<xsd:appinfo/>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
					</xsd:sequence>
					<xsd:element name="high" type="IVXB_MO">
						<xsd:annotation>
							<xsd:documentation/>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:sequence>
						<xsd:element name="width" type="MO">
							<xsd:annotation>
								<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="high" type="IVXB_MO" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
The high limit of the interval.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element name="center" type="MO">
							<xsd:annotation>
								<xsd:documentation>
The arithmetic mean of the interval (low plus high divided by 2). The
purpose of distinguishing the center as a semantic property is for
conversions of intervals from and to point values.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="width" type="MO" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
The difference between high and low boundary. The purpose of
distinguishing a width property is to handle all cases of incomplete
information symmetrically. In any interval representation only two of
the three properties high, low, and width need to be stated and the
third can be derived.
</xsd:documentation>
								<xsd:appinfo/>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IVXB_MO">
		<xsd:complexContent>
			<xsd:extension base="MO">
				<xsd:attribute name="inclusive" type="bl" use="optional" default="true">
					<xsd:annotation>
						<xsd:documentation>
Specifies whether the limit is included in the interval
(interval is closed) or excluded from the interval (interval is open).
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HXIT_PQ">
		<xsd:complexContent>
			<xsd:extension base="PQ">
				<xsd:sequence>
					<xsd:element name="validTime" type="IVL_TS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
The time interval during which the given information was, is, or is
expected to be valid. The interval can be open or closed infinite or
undefined on either side.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HXIT_CE">
		<xsd:complexContent>
			<xsd:extension base="CE">
				<xsd:sequence>
					<xsd:element name="validTime" type="IVL_TS" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
The time interval during which the given information was, is, or is
expected to be valid. The interval can be open or closed infinite or
undefined on either side.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BXIT_CD">
		<xsd:complexContent>
			<xsd:extension base="CD">
				<xsd:attribute name="qty" type="int" use="optional" default="1">
					<xsd:annotation>
						<xsd:documentation>
The quantity in which the bag item occurs in its containing bag.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BXIT_IVL_PQ">
		<xsd:complexContent>
			<xsd:extension base="IVL_PQ">
				<xsd:attribute name="qty" type="int" use="optional" default="1">
					<xsd:annotation>
						<xsd:documentation>
The quantity in which the bag item occurs in its containing bag.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SLIST_PQ">
		<xsd:complexContent>
			<xsd:extension base="ANY">
				<xsd:sequence>
					<xsd:element name="origin" type="PQ">
						<xsd:annotation>
							<xsd:documentation>
The origin of the list item value scale, i.e., the physical quantity
that a zero-digit in the sequence would represent.
  </xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="scale" type="PQ">
						<xsd:annotation>
							<xsd:documentation>
A ratio-scale quantity that is factored out of the digit sequence.
  </xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="digits" type="list_int">
						<xsd:annotation>
							<xsd:documentation>
A sequence of raw digits for the sample values. This is typically the
raw output of an A/D converter.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="list_int">
		<xsd:list itemType="int"/>
	</xsd:simpleType>
	<xsd:complexType name="SLIST_TS">
		<xsd:complexContent>
			<xsd:extension base="ANY">
				<xsd:sequence>
					<xsd:element name="origin" type="TS">
						<xsd:annotation>
							<xsd:documentation>
The origin of the list item value scale, i.e., the physical quantity
that a zero-digit in the sequence would represent.
  </xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="scale" type="PQ">
						<xsd:annotation>
							<xsd:documentation>
A ratio-scale quantity that is factored out of the digit sequence.
  </xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="digits" type="list_int">
						<xsd:annotation>
							<xsd:documentation>
A sequence of raw digits for the sample values. This is typically the
raw output of an A/D converter.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GLIST_TS">
		<xsd:complexContent>
			<xsd:extension base="ANY">
				<xsd:sequence>
					<xsd:element name="head" type="TS">
						<xsd:annotation>
							<xsd:documentation>
This is the start-value of the generated list. 
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="increment" type="PQ">
						<xsd:annotation>
							<xsd:documentation>
The difference between one value and its previous different value.
For example, to generate the sequence (1; 4; 7; 10; 13; ...) the 
increment is 3; likewise to generate the sequence (1; 1; 4; 4; 7; 7;
10; 10; 13; 13; ...) the increment is also 3.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="period" type="int" use="optional">
					<xsd:annotation>
						<xsd:documentation>
If non-NULL, specifies that the sequence alternates, i.e., after this
many increments, the sequence item values roll over to start from the
initial sequence item value. For example, the sequence (1; 2; 3; 1; 2;
3; 1; 2; 3; ...) has period 3; also the sequence (1; 1; 2; 2; 3; 3; 1;
1; 2; 2; 3; 3; ...) has period 3 too.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="denominator" type="int" use="optional">
					<xsd:annotation>
						<xsd:documentation>
The integer by which the index for the sequence is divided,
effectively the number of times the sequence generates the same
sequence item value before incrementing to the next sequence item
value. For example, to generate the sequence (1; 1; 1; 2; 2; 2; 3; 3;
3; ...)  the denominator is 3.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GLIST_PQ">
		<xsd:complexContent>
			<xsd:extension base="ANY">
				<xsd:sequence>
					<xsd:element name="head" type="PQ">
						<xsd:annotation>
							<xsd:documentation>
This is the start-value of the generated list. 
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="increment" type="PQ">
						<xsd:annotation>
							<xsd:documentation>
The difference between one value and its previous different value.
For example, to generate the sequence (1; 4; 7; 10; 13; ...) the 
increment is 3; likewise to generate the sequence (1; 1; 4; 4; 7; 7;
10; 10; 13; 13; ...) the increment is also 3.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="period" type="int" use="optional">
					<xsd:annotation>
						<xsd:documentation>
If non-NULL, specifies that the sequence alternates, i.e., after this
many increments, the sequence item values roll over to start from the
initial sequence item value. For example, the sequence (1; 2; 3; 1; 2;
3; 1; 2; 3; ...) has period 3; also the sequence (1; 1; 2; 2; 3; 3; 1;
1; 2; 2; 3; 3; ...) has period 3 too.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="denominator" type="int" use="optional">
					<xsd:annotation>
						<xsd:documentation>
The integer by which the index for the sequence is divided,
effectively the number of times the sequence generates the same
sequence item value before incrementing to the next sequence item
value. For example, to generate the sequence (1; 1; 1; 2; 2; 2; 3; 3;
3; ...)  the denominator is 3.
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RTO_PQ_PQ">
		<xsd:annotation>
			<xsd:appinfo>
				<diff>RTO_PQ_PQ</diff>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="QTY">
				<xsd:sequence>
					<xsd:element name="numerator" type="PQ">
						<xsd:annotation>
							<xsd:documentation>
The quantity that is being divided in the ratio.  The default is the
integer number 1 (one.)
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="denominator" type="PQ">
						<xsd:annotation>
							<xsd:documentation>
The quantity that devides the numerator in the ratio.  The default is
the integer number 1 (one.)  The denominator must not be zero.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RTO_MO_PQ">
		<xsd:annotation>
			<xsd:appinfo>
				<diff>RTO_MO_PQ</diff>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="QTY">
				<xsd:sequence>
					<xsd:element name="numerator" type="MO">
						<xsd:annotation>
							<xsd:documentation>
The quantity that is being divided in the ratio.  The default is the
integer number 1 (one.)
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="denominator" type="PQ">
						<xsd:annotation>
							<xsd:documentation>
The quantity that devides the numerator in the ratio.  The default is
the integer number 1 (one.)  The denominator must not be zero.
</xsd:documentation>
							<xsd:appinfo/>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UVP_TS">
		<xsd:complexContent>
			<xsd:extension base="TS">
				<xsd:attribute name="probability">
					<xsd:annotation>
						<xsd:documentation>
The probability assigned to the value, a decimal number between 0
(very uncertain) and 1 (certain).
</xsd:documentation>
						<xsd:appinfo/>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:float">
							<xsd:minInclusive value="0.0"/>
							<xsd:maxInclusive value="1.0"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
			<!--										<xsd:sequence>-->
			<!--										</xsd:sequence>-->
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
